@font-face {
    font-family: "Qwerty Ability";
    src: url("../fonts/Qwerty\ Ability\ -\ Personal\ Use.otf");
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

body{
    padding-top: 56px;
    font-family: "Ananda";
}


    



